@font-face {
  font-family : 'ESAllianz';
  src         : url('/assets/fonts/ESAllianz.woff2') format('woff2');
}

@font-face {
  font-family : 'ESFace';
  src         : url('/assets/fonts/ESFace.woff2') format('woff2');
}

@font-face {
  font-family : 'ESKlarheitGrotesk';
  src         : url('/assets/fonts/ESKlarheitGrotesk.woff2') format('woff2');
}