@import 'partials/colors';
@import 'partials/fonts';

::-webkit-scrollbar {
  display : none;
}

* {
  margin          : 0;
  padding         : 0;
  scroll-behavior : smooth;
}

.page {
  overflow-x : hidden;
}

.landing {
  position              : fixed;
  width                 : 100%;
  height                : 100%;
  background-color      : $dark;
  background-image      : url('/assets/img/background.jpg');
  background-repeat     : no-repeat;
  background-attachment : fixed;
  background-position   : center center;
  background-size       : cover;

  &__text {
    height : 5vw;
  }

  &--top {
    position : fixed;
    top      : 0;
    left     : 0;
  }

  &--bottom {
    position : fixed;
    right    : 0;
    bottom   : -0.3vh;
  }

  &__hint {
    right        : 0;
    bottom       : 0;
    display      : inline-block;
    height       : 1vw;
    margin-right : -1vw;
  }
}

.content {
  overflow-x  : hidden;
  overflow-y  : auto;
  height      : 100vh;
  perspective : 2px;

  &__parallax {

    &--layer-0 {
      position : absolute;
      top      : 102%;
      width    : 100vw;

    }

    &--layer-1 {
      position  : absolute;
      top       : 80%;
      width     : 100vw;
      transform : translateZ(0.5px) scale(0.75);
    }

    &--layer-2 {
      position  : absolute;
      top       : 90%;
      width     : 100vw;
      transform : translateZ(1px) scale(0.5);
    }
  }
}
