@import 'partials/colors';
@import 'partials/fonts';

* {
  overflow-x     : hidden;
  pointer-events : none;
}

.page {
  margin : 0;
}

.landing {
  position              : fixed;
  width                 : 100%;
  height                : 100%;
  background-color      : $dark;
  background-image      : url('/assets/img/background.jpg');
  background-repeat     : no-repeat;
  background-attachment : fixed;
  background-position   : center center;
  background-size       : cover;

  &__text {
    height : 5vw;
  }

  &--top {
    position : fixed;
    top      : 0;
    left     : 0;
  }

  &--bottom {
    position : fixed;
    right    : 0;
    bottom   : -0.3vh;
  }

  &__hint {
    right        : 0;
    bottom       : 0;
    display      : inline-block;
    height       : 1vw;
    margin-right : -1vw;
  }
}

::-webkit-scrollbar {
  display : none;
}
