@import 'partials/colors';
@import 'partials/fonts';

::-webkit-scrollbar {
  display : none;
}

* {
  overflow-x      : hidden;
  overflow-y      : auto;
  margin          : 0;
  padding         : 0;
  scroll-behavior : smooth;
}

.landing {
  position              : fixed;
  width                 : 100%;
  height                : 100%;
  background-color      : $dark;
  background-image      : url('https://res.cloudinary.com/dmkjff9mm/image/upload/w_2700,c_scale/VoaW/background_jaqaeu.webp');
  background-repeat     : no-repeat;
  background-attachment : fixed;
  background-position   : center center;
  background-size       : cover;

  &__text {
    height : 5vw;
  }

  &--top {
    position : fixed;
    top      : 0;
    left     : 0;
  }

  &--bottom {
    position : fixed;
    right    : 0;
    bottom   : -0.3vh;
  }

  &__hint {
    right        : 0;
    bottom       : 0;
    display      : inline-block;
    height       : 1vw;
    margin-right : -1vw;
  }
}

.main {
  height      : 100vh;
  perspective : 1px;

  &__parallax {

    &--layer-0 {
      position  : absolute;
      z-index   : 2;
      top       : 130%;
      width     : 100vw;
      transform : translateZ(-0.3px) scale(1.3);
    }

    &--layer-1 {
      position : absolute;
      z-index  : 4;
      top      : 110%;
      width    : 100vw;
    }

    &--layer-2 {
      position  : absolute;
      z-index   : 6;
      top       : 120%;
      width     : 100vw;
      transform : translateZ(0.3px) scale(0.7);
    }
  }
}

.content {
  font-family      : ESKlarheitGrotesk, sans-serif;
  position         : absolute;
  z-index          : 5;
  top              : 220%;
  box-sizing       : border-box;
  width            : 100vw;
  height           : 206vh;
  padding          : 2vw;
  color            : $dark;
  background-color : $light;
}

.heading {
  font-family : ESFace, serif;
  font-size   : 1.3vw;
  position    : sticky;
  top         : 0;
  box-sizing  : border-box;
  width       : 100%;
  height      : 5vh;
  padding     : 1vh;
  border-top  : 1px solid $dark;

  &__text {
    position   : absolute;
    margin-top : -0.5vh;
  }

  &__logo {
    position     : absolute;
    top          : 50%;
    right        : 0;
    height       : 1vw;
    margin-top   : -0.5vh;
    margin-right : 1vh;
    transform    : translate(0%, -50%);
  }

  &__border {
    position   : absolute;
    top        : 0;
    width      : 1px;
    height     : 30%;
    content    : '';
    background : $dark;

    &--left {
      left : 0;
    }

    &--right {
      right : 0;
    }
  }
}

.gallery__item {
  height     : 35.5vh;
  margin     : 4vh;
  transition : all 0.23s;

  &:hover {
    transform : scale(1.2);
  }
}

.footer {

  &__text {
    font-family   : ESFace, serif;
    font-size     : 1vw;
    position      : absolute;
    right         : 50%;
    bottom        : -14vh;
    display       : block;
    margin-bottom : 8vw;
    transform     : translate(50%, -50%);
  }

  &__logo {
    position      : absolute;
    right         : 50%;
    bottom        : -13vh;
    display       : block;
    height        : 10vh;
    margin-bottom : 8vw;
    transform     : translate(50%, -50%);
  }
}



